body{
    background-color: #4e489a;
}
div{
    display:block;
}
h1,h2,h4,p,section{
   font-family: "Poppins", sans-serif;
   font-weight: 300;
}
.container{
    display: flex;
    position: relative;
}
.imagen1{
    position: relative;
    left: 135px;
    top: 88px;

}
.layer {
    background-image:-webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    position: absolute;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
#imagen1{
    width: 1100px;
    height: 540px;
    max-width: 100%;
    padding-bottom: 82px;
    max-height: auto;
    min-width: 35%;
}
.imagen2{
    position: absolute;
    top: 102px;
    left: 145px;
}
#imagen2{
    max-width: 100%;
    max-height: auto;

}
#home{
    position: absolute;
    top: 105px;
    right: 400px;
}
#generic{
    position: absolute;
    top: 105px;
    right: 300px;
}
#elements{
    position: absolute;
    top: 105px;
    right: 200px;

}
.middle{
    position: absolute;
    font-family: "Poppins", sans-serif;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.middle h4{
    position: absolute;
    left: 200px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
}
.middle h1{
    margin-top: 45px;
    margin-bottom: 10px;
    font-size: 120px;
    font-weight: 100;
    line-height: 1.25em;
    color: #fff;
}
button{
    position: absolute;
    border-color: white;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    left: 230px;
    border-radius: 50px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
button:hover{
    background-image:-webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    border-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
}
#boton2{
    background-image:-webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
}
a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    color: white;
    position: relative;
    top: 150px;
    right: 200px;
}
.areaDos{
    width: 1099px;
    position: relative;
    left: 136px;
    background-color: #fff;
}

.filas{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.columnas{
    display: grid;
    grid-template-columns: 35% 65% ;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.columnas h2{
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0;
}
.columnas span{
    font-weight: 600;
}
.columnas p{
    color:#777777;
}
.columnas button{
    left:55px;
}
#slider{
    position: relative;
    left: 100px;
}


.areaTres{
    position: relative  ;
    left: 136px;
    background-image: url('img/parallux.jpg');
    height: 540px;
    width: 1100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}
 .overlay{
    position: absolute;
    background-color: #222;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.parallux {
    position: absolute;
    left: 500px;
    color: #fff;
}
#col{
    grid-template-columns: 1fr;
    padding-left: 10px;
    
}
.parallux p {
    color: #fff;
    
}
.parallux button{
    background-color: transparent;
    border-color: #fff;
}
