body{
    background-color: #4e489a;
    
}
.container{
    display: flex;
    position: relative;
}
.imagen1{
    position: relative;
    left: 180px;
    top: 100px;
  
}
#imagen1{
    width: 999px;
    height: 540px;
    max-width: 100%;
    max-height: auto;
    min-width: 35%;
}
.imagen2{
    position: absolute;
    top: 143px;
    left: 215px;
}
#imagen2{
    max-width: 100%;
    max-height: auto;

}
#home{
    position: absolute;
    top: 150px;
    right: 400px;
}
#generic{
    position: absolute;
    top: 150px;
    right: 200px;
}
#elements{
    position: absolute;
    top: 150px;
    right: 300px;
}
a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    color: white;
    position: relative;
    top: 150px;
    right: 200px;
}
/*
<nav class="menu">
<li class="op">Home</li>
<li class="op">Generic</li>
<li class="op">Elements</li>
</nav>*/